/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(255, 126, 126),rgb(241, 167, 241),  rgb(219, 159, 48));
} */

form{
    min-width: 300px;

    background: rgba(255, 255, 255, 0.274);
    border-radius: 15px;
    border: 2px white solid;
    box-shadow: 0px 15px 15px rgb(185, 185, 185);
}

form > div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: end;
}

input, select{
    width: 200px;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    margin:auto  20px;
}

input{
    border-bottom: 1px solid rgb(203, 0, 221);
    padding: 10px 0;
    background: none;
    font-size: 18px;
}

.btnZone{
    justify-content: space-between;
    margin-top: 20px;
}

button{
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 45%;
    color: white;

}

button:nth-child(1){
    background-color: orange;
}
button:nth-child(2){
    background-color: grey;
}

label{
    font-weight: bold;
}